/* section_blog */
.section_blog{
    background: #fff;
    color: #15263e;
}
.blog_subtitle{
    text-align: center;
    color: #4d4d4d;
    padding: 20px 0 40px;
}
.blog_content_col img{
    width: 100%;
}
.blog_info_title{
    padding: 20px 0 10px 0;
    color: #929292;
    font-weight: 400;
}
.blog_info_subtitle{
    padding-bottom: 22px;
    font-size: 20px;
    color: #15263e;
    font-weight: 600;
}

/* accordion */
.section__accordion{
    width: 100%;
    height: 500px;
    background-image: url(../img/22e.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 101%;
    padding: 30px 0;
}
.section__accordion-title{
    margin-bottom: 20px;
    text-align: end;
}
.accordion__row{
    justify-content: flex-end;
}
.accordion__item{
    margin-bottom: 5px;
    border: 2px solid #a7a7a7;
    border-radius: 4px;
}

.accordion__header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 10px 15px;
    background-color: #b2b2b4db;
}
.accordion__header:hover{
    background-color: #c4c4c4;
}

.accordion__header>h3{
    font-size: 23px;
    letter-spacing: 1px;
    font-weight: 600;
    color: #15263e;
}
.accordion__header-arrow{
    width: 15px;
    height: 15px;
    background-color: #c4c4c800;
    border-right: 1px solid #6a6767;
    border-top: 1px solid #6a6767;
    transform: rotate(135deg);
    margin-top: -5px;
    margin-right: 5px;
    transition: all 200ms linear;
}

.accordion__content{
    background-color: #dfdfdfad;
    padding: 10px 15px;
    overflow-y: auto;
    height: 200px;
    display: none;
}
.accordion__content-active{
    display: block;
}

.accordion__content p{
    font-size: 22px;
    font-weight: 300;
    color: #3b3a3a;
    letter-spacing: 1px;
    text-align: justify;
    margin-bottom: 10px;
}









/* contact section */
.contact_section{
    width: 100%;
    height: 600px;
    background-image: url(../img/Layer\ 9.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.modal_block_row{
    justify-content: center;
}
.modal_block{
    margin-top: 30px;
    background-color: #15263e;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form>div:first-child{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form input, .form textarea{
    outline: none;
    border: none;
    padding: 8px 15px;
    color: #777777;
    font-size: 18px;
    font-weight: 300;
}
.form input:focus, .form textarea:focus{
    box-shadow: 0px 0px 14px #bf11c78f inset;
}

.form>div:nth-child(2){
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
.form textarea{
    max-height: 140px;
}
.contact_bnt{
    margin: auto;
}











/* tablet */
@media(min-width:768px){
    .modal_block{
        padding: 40px;
    }
    .modal_subtitle{
        padding: 15px 0 30px 0;
    }
    .accordion__content{
        height: 220px;
    }

}





/* laptop */
@media(min-width:992px){
    .modal_block{
        padding: 45px;
        
    }
    /* accordion */
    .section__accordion{
        height: 600px;
    }
    .accordion__content{
        height: 300px;
    }


}











/* desktop */
@media(min-width:1200px){


    .modal_block{
        padding: 70px;
    }


}




/* large desktop */
@media(min-width:1350px){

    .section__accordion{
        height: 800px;
        background-position-y: 87%;
        padding: 30px 0;
    }
}










/* mobile */
    @media(max-width:767px){
    .blog_subtitle{
        padding: 20px 0 20px;
        
    }
    .blog_content_row{
        flex-direction: column;
    }
    .blog_content_col{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 20px;
    }

    .blog_info_title{
        padding: 16px 0 8px 0;
    }
    .blog_info_subtitle{
        padding-bottom: 15px;
    }
    .section_hr{
        background-color: rgb(224, 32, 32);
    }

    /* accordion */
    .section__accordion{
        background-position: center;
        background-size: cover;
        height: 600px;
    }
    .accordion__content{
        height: 250px;
    }


    /* contact section */
    .contact_section{
        height: 776px;
    }
    .modal_block{
        margin-top: 88px;
        padding: 20px;
    }
    .modal_subtitle{
        padding: 20px 0 30px 0;
    }
    /* form */

    .form>div:first-child{
        flex-direction: column;
        align-items: center;
    }
    .form>div input{
        margin-right: 0;
        margin-bottom: 10px;
    }
    .form>div input:last-child{
        margin-bottom: 0;
    }

    .form textarea{
        max-height: 100px;
        margin-right: 0;
    }




}