.container{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.row{
    display: flex;
    margin-left: -15px;
    margin-right: -15px;

}
.col{
    padding-right: 15px;
    padding-left: 15px;
}
.col-xs-12{
    width: 100%;
}
.col-xs-6{
    width: 50%;
}
.col-xs-8{
    width: 66.66666%;
}
.col-xs-10{
    width: 83.3333%;
}

.col-xs-4{
    width: 33.33333%;
}



/* tablet */
@media(min-width:768px){
.container{
    max-width: 720px;
}
.col-sm-4{
    width: 33.33333%;
}
.col-sm-3{
    width: 25%;
}
.col-sm-6{
    width: 50%;
}
.col-sm-5{
    width: 41.66666%;
}
.col-sm-7{
    width: 58.333333%;
}
.col-sm-8{
    width: 66.66666%;
}
.col-sm-30{
    width: 30%;
}
.col-sm-12{
    width: 100%;
}

}








/* laptop */
@media(min-width:992px){
.container{
    max-width: 940px;
}
.col-md-6{
    width: 50%;
}
.col-md-3{
    width: 25%;
}

.col-md-8{
    width: 66.66666%;
}

.col-md-4{
    width: 33.33333%;
}
}






/* desktop */
@media(min-width:1200px){
.container{
    max-width: 1170px;
}
.col-lg-3{
    width: 25%;
}
.col-lg-4{
    width: 33.33333%;
}


}





/* mobile */
@media(max-width:767px){

.container{
    max-width: 720px;
}

}