/* section_quote */
.section_quote{
    background-image: url(../img/Layer\ 4.png);
    width: 100%;
    max-height: 524px;
    background-position-x: 10%;
    background-repeat: no-repeat;
    background-size: 100%;
}

.quote_block{
    padding-top: 30px;
}

.quote_title{
    padding: 0 0 30px 0;
}
.quote_content_text{
    text-align: right;
}
.quote_content_text_span{
    font-size: 65px;
}
.cc{
    background-color: green;
}
.quote_autor{
    margin-top: 30px;
}
.autor_img{
    border: 5px solid #fff;
    border-radius: 50%;
    width: 100%;
    max-width: 170px;
    height: auto;
}
.autor_info{
    margin-top: 20px;
}
.autor_info h3{
    font-size: 34px;
    font-weight: 500;
}
.autor_info h4{
    color: #c714d5;
    font-size: 15px;
    font-weight: 400;
}
/* services */
.service, .wedo{
    margin-bottom: 70px;
}
.services_title{
    justify-content: center;
    flex-direction: column;
    padding-top: 70px;
}
.services_subtitle{
    margin-top: 30px;
    text-align: center;
}
.service_title{
    font-size: 25px;
    color: #4d4d4d;
    font-weight: 500;
    text-transform: uppercase;
    margin: 20px 0;
}
.service_content{
    flex-wrap: wrap;
}
.service_item{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.servise_logo{
    width: 114px;
    height: 114px;
    background-position: center;
    background-repeat: no-repeat;
}
.logo_1{
    background-image: url(../img/tvorcheskiy-maket-dlya-sayta-portfolio-восстановлено_03.jpg);
}
.logo_2{
    background-image: url(../img/tvorcheskiy-maket-dlya-sayta-portfolio-восстановлено_05.jpg);
}
.logo_3{
    background-image: url(../img/tvorcheskiy-maket-dlya-sayta-portfolio-восстановлено_07.jpg);
}
.logo_4{
    background-image: url(../img/tvorcheskiy-maket-dlya-sayta-portfolio-восстановлено_12.jpg);
}
.logo_5{
    background-image: url(../img/tvorcheskiy-maket-dlya-sayta-portfolio-восстановлено_13.jpg);
}
.logo_6{
    background-image: url(../img/tvorcheskiy-maket-dlya-sayta-portfolio-восстановлено_14.jpg);
}

/* we do */
.wedo__row{
    flex-direction: row;
}
.tabs-nav{
    display: flex;
    justify-content: space-between;
}
.tabs-nav__item{
    border-bottom: 1px solid transparent;
    cursor: pointer;
    flex: 1;
    padding: 20px;
    background-color: #15263e;
    color: #fff;
    text-align: center;

}
.tabs-nav__item:hover{
    background-color: #2e435f;
    transition: 90ms linear;
    box-shadow: 0px -1px 10px 2px #2a435f;
}
.tabs-nav__item.is-active{
    color: #ff0072;
    background-color: #1b3457;
    transform: scaleY(1.1);
    transition: 90ms linear;
    box-shadow: 0px -1px 10px 2px #425c80;
}
.tab h4{
    margin-bottom: 10px;
    font-size: 26px;
    font-weight: 500;
}
.tab{
    display: none;
    padding: 20px 20px 20px 30px;
    background-color: #dcdcde;
    background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
}
.tab ul{
    list-style-type: disc;
}
.tab li{
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
}
.tab.is-active{
    display: block;
}
/* wedo */
.wedo-social{
    display: flex;
    flex-direction: column;
}
.wedo-social_title h3{
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 30px;
    background: linear-gradient(45deg, rgb(162,26,240), rgb(255,0,114));
    color: rgb(162,26,240);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: wave 3s ease-in-out infinite alternate;
}
@keyframes wave{
    from{
        transform: rotate(8deg);
    }
    to{
        transform: rotate(-8deg);
    }
}
.social{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wedo-social a{
    display: block;
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}
.wedo-subscribe{
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.fb{
    background-image: url(../img/facebook.svg);
}
.youTube{
    background-image: url(../img/youtube.svg);
}
.reddit{
    background-image: url(../img/reddit.svg);
}
.linkedin{
    background-image: url(../img/linkedin.svg);
}
.wedo-subscribe:hover{
    transform: scale(1.1);
}






/* tablet */
@media(min-width:768px){
.quote-slider{
    padding-top: 60px;
}
}
























/* laptop */
@media(min-width:992px){
    .quote-slider{
    padding-top: 100px;
}
.service_item{
    margin-top: 70px;
}
.service, .wedo{
    margin-bottom: 90px;
}
.wedo__row{
    flex-direction: row;
}
}








/* desktop */
@media(min-width:1200px){
.quote-slider{
    padding-top: 130px;
}





}










/* mobile */
@media(max-width:767px){
/* section_quote */
.section_quote{
    background-size: 665%;
}
.quote_block{
    padding-top: 20px;
}
.quote_content{
    flex-direction: column;
}
.quote_content_text{
    padding-right: 50px;
}

.quote_content_right_text_span{
    bottom: -30px;
    right: 42px;
}
.quote-slider{
    padding-top: 20px;
}
.services_title{
    padding-top: 40px;
}
.service_item{
    margin-top: 40px;
}
.service, .wedo{
    margin-bottom: 40px;
}
/* wedo */
.wedo__row{
    flex-direction: column;
}
.wedo-social{
    margin-top: 30px;
    align-items: center;
}
.social{
    flex-direction: row;
    justify-content: space-around;
}
.tabs-nav{
    flex-direction: column;
}
}














