.col-xs-12{
    width: 100%;
}
.col-xs-3{
    width: 263px;
}
.col-xs-1{
    width: 33%;
}
.col-xs-2{
    width: 66%;
}
.col-xs-6{
    max-width: 50%;
}









/* tablet */
@media(min-width:768px){
.col-sm-12{
    width: 100%;
}
.col-sm-4{
    width: 300px;
}
.col-sm-5{
    width: 41.66666%;
}
.col-sm-6{
    width: 50%;
}
}







/* laptop */
@media(min-width:992px){
.col-md-12{
    width: 100%;
}
.col-md-7{
    width: 58.333333%;
}
.col-md-4{
    width: 360px;
}
.col-md-6{
    width: 50%;
}


}








/* desktop */
@media(min-width:1200px){
.col-lg-12{
    width: 100%;
}
.col-lg-7{
    width: 58.333333%;
}
.col-lg-5{
    width: 41.6666666%;
}
.col-lg-4{
    width: 263px;
}

}