.col-xs-12{
    width: 100%;
}
.col-xs-3{
    width: 263px;
}
/* .col-xs-4{
    width: 220px;
} */








/* tablet */
@media(min-width:768px){
.col-sm-12{
    width: 100%;
}
.col-sm-4{
    width: 300px;
}
}







/* laptop */
@media(min-width:992px){
.col-md-12{
    width: 100%;
}
.col-md-7{
    width: 58.333333%;
}
.col-sm-5{
    width: 41.66666666%;
}
.col-md-4{
    width: 360px;
}


}








/* desktop */
@media(min-width:1200px){
.col-lg-12{
    width: 100%;
}
.col-lg-7{
    width: 58.333333%;
}
.col-lg-5{
    width: 41.6666666%;
}

}