*{
    box-sizing: border-box;
}
body{
    font-family: 'Quattrocento Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    min-height: 1500px;
}

/* conteiner */
.conteiner{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.row{
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}
.col{
    padding-left: 15px;
    padding-right: 15px;
}
.header{
    position: sticky;
    top: 0;
    background-color: #1d2126;
    color: #a4aead;
    font-size: 14px;

}
.header_row{
    flex-direction: column;
    align-items: center;

}
/* nav_menu */
.nav_menu{
    display: flex;
    width: 300px;
    height: 100%;
    overflow-x: auto;
    
    
}
.nav_menu::-webkit-scrollbar{
    display: none;
}


.menu_item{
    display: block;
    margin:20px;
}
.menu_item>a{
    text-decoration: none;
    color: #a4aead;
    padding: 5px;
    text-transform: uppercase;
    font-weight: 700;
    border: 2px solid #1d2126;
    
}
.menu_item:last-child{
    margin-right: 0;
}
.menu_item>a:hover{
    
    border: 2px solid #5b6168;
    border-radius: 4px;
    transition: 0.2s linear;
    
}
.menu_item>a:active{
    color: #23b7a4;
    border: 2px solid #23b7a4;
    border-radius: 4px;
    transition: 0.2s linear;
}
/* form */
.form{
    position: relative;
}
.search{
    width: 195px;
    padding: 10px 50px 10px 10px;
    background-color: #1d2126;
    color: #a4aead;
    outline: none;
    border: 2px solid #adb0b3;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.search_bnt{
    
    
    position: absolute;
    right: 22px;
    top: 50%;
    transform: translatey(-16px);
    width: 24px;
    height: 24px;
    outline: none;
    border: none;
    background-image: url(../img/icon\ 1.png);
    background-color: #1d2126;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;

}



/* tablet */
@media(min-width:768px){
.conteiner{
    max-width: 720px;
}
.header_row{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.nav_menu{
    display: flex;
    width: 100%;
    overflow-x: visible;
}
.menu_item{
    margin: 0;
}
.menu_item>a{
    font-size: 12px;
}
/* form */
.search{
    width: 130px;
    margin-bottom: 0;
    padding: 10px 30px 10px 10px;

}
.search_bnt{
    transform: translatey(-12px);
}




/* labtop */
@media(min-width:992px){
.conteiner{
    min-width: 960px;
}

.menu_item>a{
    font-size: 14px;
}
/* form */
.search{
    width: 195px;
    padding: 10px 50px 10px 10px;
}
}



/* desctop */
@media(min-width:1200px){
.conteiner{
    min-width: 1140px;
}

}






/* mobile */
@media(max-width:767px){

}